/*  Comments
*   Mock Up Colors
*   Orange  #F8981C
*   Gray    #BCBBBB
*   Green   #747704
*/

body{
    color: #747704;
    font-family: 'Raleway', sans-serif;
}

.top-row{
    padding-bottom: 5px;
    border-bottom: solid 2px;
    margin-bottom: 5px;
}